.result-table-root {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.result-table-root td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.result-table-root tr:nth-child(even) {
  background-color: #dddddd;
}
