/* body {
  overflow: hidden;
} */
.app-root-container {
  width: 99%;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.app-header p {
  width: 22%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  cursor: pointer;
}

.focus {
  border-bottom: 1px solid;
}

.modal-content-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  align-items: center;
  justify-content: space-evenly;
  width: 543px;
}

.loader {
  position: absolute;
  left: 33%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  width: 50%;
}

.fileUpload-list,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.fileUpload-list th,
td {
  padding: 5px;
  text-align: left;
}

.test-parent-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.test-left-menu-root {
  width: 20%;
}

.right-panel-test-root {
  width: 80%;
  overflow: auto;
  max-height: 100vh;
}

.test-left-menu-root {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-anch-focus {
  color: red;
}

.test-left-menu-root a {
  text-decoration: none;
  text-decoration-color: #fff;
}
